.barra {
 width: 100%;
 height: 100px;
 background-color: blueviolet;
 
}
.mobile{
    font-size: 60px;
    color: white;
    text-align: center;
}

.tablet{
    display: none;
}

.desktop{
    display: none;
}

@media (min-width: 800px){
.barra{
    height: 150px;
    background-color: red;
}
.mobile{
    display: none;
}
.tablet{
    display: inline;
    font-size: 60px;
    color: white;
    text-align: center;
}
}

@media (min-width: 1228px){
.barra{
    height: 150px;
    background-color: blue;
}
.tablet{
    display: none;
 }
 .desktop{
    display: inline;
    font-size: 60px;
    color: white;
    text-align: center;
}
}


.rodape {
text-align: center;
}
